<div class="row">
    <div class="col-3">
        <table border="1" width="500" cellspacing="0" cellpadding="5">
                <tr>
                    <th>属性</th>
                    <th>商品名</th>
                    <th>種類</th>
                    <th>個数</th>
                    <th>誰の</th>
                </tr>
                <tr>
                    <td>{{ product.flag }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.count }}</td>
                    <td>{{ product.whose }}</td>
                </tr>
        </table>
    </div>
</div>
